body
  background #000
  color white
  margin 0
  font-family sans-serif

  box-sizing border-box
  h1
    position fixed
    left 20px
    top 20px
    img
      max-width 60px
      height auto
      display block
  a
    color white
  .nav-box
    width 1em
    height 1em
  a.nav-btn
    text-decoration none
  .container
    display flex
    align-items center
    max-inline-size max-content
    margin-inline auto
    height 100vh
    height 100svh
    gap 1em
    img
      display block
      margin 1em 0
      width 240px
    h2
      margin-bottom .25em
    p
      font-size 10px
      line-height 1.6
  footer
    svg
      position fixed
      right 20px
      width 20px
      height auto
      bottom 20px